body {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/2384075.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  opacity: 70%;
  border-radius: 20%;
  border: solid 3px #2b6b71;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

button {
  background-color: #2b6b71; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
  width: 400px;
}

button:hover {
  opacity: 80%;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.description {
  display: flex;
  justify-content: space-between;
}

.done {
  margin-top: 10%;
  width: 300px;
  height: 150px;
}

table {
  /* border: 2px solid forestgreen; */
  margin-top: 20px;
  width: 800px;
  text-align: center;
}
  
tr {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 20px;
  border-bottom: 1px solid black;
}

th {
  text-align: center;
}

td {
  width: 150px;
  text-align: right;
}