body {
    line-height: 25px;
    margin:0px;
}

.top {
    height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/518518.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    align-content: center;
    color: white;
}

#navBar {
    color:white;
    display: flex;
    margin-right:20px;
    justify-content: space-around;
    font-size: 125%;
    margin-bottom: 8%;
    padding-top:1%;
}

#name {
    text-align: center;
    font-size: 250%;
}

#pfp {
    vertical-align: middle;
    border-radius: 50%;
    width:20%;
    padding:1%;
}

#container {
    display:flex;
    justify-content: center;
}

#blurb {
    font-family: 'Times New Roman', Times, serif;
    width:fit-content; 
    padding: 1%;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.53);
    color: black;
    border: solid;
    font-size: 150%;
}


/* .tab {
    display: inline-block;
    margin-left: 40px;
} */

.middle {
    display: flex;
    color: black;
    /* margin-top:30%; */
}

.left, .right {
    background-color: aliceblue;
    width:50%;
    border-radius: 5%;
    /* border:solid 1px; */
    padding:1%;
}